@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $layoutWidth: 1400 - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / 1090));
}

.single-movie {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 60px;
  img {
    width: 100%;
    min-width: 400px;
    border-radius: 20px; 
    border: 2px solid hsl(240, 3%, 6%);
  }
  .about_single_movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    line-height: 28px;
    .title {
      @include adaptiv-font(25, 20);
      font-weight: 700;
      color: rgb(22, 22, 207);
    }
    .genres {
      @include adaptiv-font(20, 16);
      font-weight: 700;
    }
    .release_date {
      @include adaptiv-font(20, 13);
      color: rgb(22, 22, 207);
    }
    .movie_about {
      width: 80%;
      @include adaptiv-font(20, 16);
    }
    .budget {
      @include adaptiv-font(18, 15);
      font-weight: 700;
      margin-top: 30px;
    }
    .rate {
      color: #fd6500;
      font-weight: 700;
      @include adaptiv-font(18, 13);
    }
  }
}
.video_container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0 60px;
  button {
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 10px;
    display: flex;
    align-self: start;
    margin-left: 10%;
    background-color: rgba(19, 18, 18, 0.8);
    border: 1px solid rgba(19, 18, 18, 1);
    color: #fff;
    &:hover {
      background-color: rgb(234, 186, 26);
      background-image: linear-gradient(to right, rgba(234,186,26,0), rgba(255,0,0,0.6));
    }
  }
  .video-none {
    display: none;
  }
  .video-active {
    display: block;
  }
}
@media (max-width: 900px) {
  .video_container .video-active iframe {
    width: 100%;
    min-width: 450px;
  }
}
@media (max-width: 870px) {
  .single-movie .about_single_movie {
    line-height: 20px;
  }
}
@media (max-width: 768px) {
  .single-movie {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 470px) {
  .video_container .video-active iframe {
    min-width: 250px;
  }
  .single-movie {
    img {
      width: 100%;
      min-width: 250px;
    }
  }
}